<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <style>
        body {
            background: no-repeat url(https://img2.joyreactor.cc/pics/post/full/pantsu-ripper-artist--Anime-8784696.jpeg) 0 0 / cover;
            min-height: 100vh;
        }
    </style>
</head>
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<body>
<p><a href="ya.ru"><img src="https://img10.joyreactor.cc/pics/post/станок-техника-безопасности-NSFW-8784479.jpeg" width="500"
  height="500" border="0" alt="Пример"></a></p>
</body>
</html>